<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <h2>Вход</h2>
    <form method="POST">
        <label for="identifier">Номер телефона или Email:</label>
        <input type="text" id="identifier" name="identifier" required placeholder="Введите номер телефона или email">
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required placeholder="Введите пароль">
        
        <button type="submit">Войти</button>
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</body>
</html>
