body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;     /* Центрирование по вертикали */
    height: 100vh;           /* Высота экрана */
    padding: 0;              /* Убираем отступы по бокам */
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ограничение ширины формы */
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem; /* Размер шрифта для заголовка */
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px; /* Увеличиваем внутренние отступы */
    font-size: 1.2rem; /* Увеличиваем размер шрифта */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px; /* Задаем высоту поля */
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0d0d0e; /* Синий цвет при фокусе */
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0057b32f;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;  /* Центрирование по вертикали */
}

input[type="password"] {
    flex-grow: 1; /* Поле ввода будет занимать все доступное пространство */
}

.show-password-btn {
    width: 25%;
    margin-left: 10px;  /* Отступ от поля ввода */
    background: none;
    border: none;
    color: #3f46b6;
    cursor: pointer;
    font-size: 1.2rem;
}

.show-password-btn:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 15px;
}
